<script type="text/ng-template" id="addContactsModal.html">
  <div class="modal-header">
    <h4>添加/修改通讯录</h4>
  </div>

  <div class="modal-body">
    <form ng-submit="submit()" class="form-horizontal" name="addContactsForm" role="form">

      <div class="form-group" ng-class="{'has-error': addContactsForm.name.$invalid}">
        <label for="inputName" class="col-sm-2 control-label">姓名</label>
        <div class="col-sm-10">
          <input ng-model="contacts.name" ng-blur="checkExist(contacts.name)" required type="input" class="form-control" name="name" id="inputName" placeholder="必填，如果有同名则更新">
        </div>
      </div>

      <div class="form-group">
        <label for="radioSex" class="col-sm-2 control-label">性别</label>
        <div class="col-sm-10">
          <label class="radio-inline">
            <input type="radio" ng-model="contacts.sex" name="radioSex" checked="true" id="radioMale" value="男">男
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="contacts.sex" name="radioSex" id="radioFemale" value="女">女
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="inputGrade" class="col-sm-2 control-label">年级</label>
        <div class="col-sm-10">
          <select ng-model="contacts.grade" ng-options="grade for grade in gradeList" class="form-control">
          </select>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': addContactsForm.mobile.$invalid}">
        <label for="inputMobile" class="col-sm-2 control-label">电话</label>
        <div class="col-sm-10">
          <input ng-model="contacts.mobile" require ng-pattern="/^1[0-9]{10}$/" type="input" class="form-control" name="mobile" id="inputMobile" placeholder="必填">
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': addContactsForm.qq.$invalid}">
        <label for="inputQQ" class="col-sm-2 control-label">QQ</label>
        <div class="col-sm-10">
          <input ng-model="contacts.qq" required integer ype="input" class="form-control" name="qq" id="inputQQ" placeholder="必填">
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': addContactsForm.email.$invalid}">
        <label for="inputEmail" class="col-sm-2 control-label">邮箱</label>
        <div class="col-sm-10">
          <input ng-model="contacts.email" required type="email" class="form-control" name="email" id="inputEmail" placeholder="必填">
        </div>
      </div>

      <div class="form-group">
        <label for="inputTeacher" class="col-sm-2 control-label">导师</label>
        <div class="col-sm-10">
          <select ng-model="contacts.teacher" ng-options="teacher for teacher in teacherList" class="form-control">
          </select>
        </div>
      </div>

    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!addContactsForm.$valid" ng-click="submit()">提交</button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>

    <button class="btn btn-danger pull-left" ng-show="contactsExist" ng-click="delete()" tooltip-placement="right" tooltip="删除后将无法恢复，请慎重">删除记录</button>
  </div>
</script>