<form class="form-inline pull-right" role="form">
  <div class="form-group">
    <label class="sr-only" for="search-keyword">关键字</label>
    <input ng-model="keyword" type="text" class="input-keyword form-control mrs" id="search-keyword"
      name="keyword" placeholder="输入要搜索的人名、年级、电话或其它信息"/>
  </div>
  <button class="btn btn-primary" ng-click="search()">搜索</button>
</form>
<button class="btn btn-info" ng-click="openAddContactsModal()">我要 添加/修改 通讯录</button>

<div data-ng-include="'/public/contacts/views/add_contacts_modal.html'"></div>
