<form class="form-inline pull-right" role="form">
  <div class="form-group">
    <label class="sr-only" for="search-keyword">关键字</label>
    <input type="text" class="form-control mrs" id="search-keyword"
      name="keyword" placeholder="输入要搜索的人名"/>
  </div>
  <button class="btn btn-primary">搜索</button>
</form>
<button class="btn btn-info" ng-click="openAddContactsModal()">我要 添加/修改 通讯录</button>
<script type="text/ng-template" id="addContactsModal.html">
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>