.modal.fade {
  overflow-y: hidden;
}
.modal-dialog {
  width: 450px;
  margin: 100px auto;
}
.modal-header h4 {
  margin-left: 0.5em;
}
.ui-match {
  background: yellow;
}
.search-form-group {
  display: inline-block;
}
@media screen {
  .search-form-group {
    width: 85%;
  }
}
@media screen and (max-width: 480px) {
  .search-form-group {
    width: 80%;
  }
}
@media screen and (max-width: 320px) {
  .search-form-group {
    width: 75%;
  }
}
