.modal.fade {
  overflow-y: hidden;
}
.modal-dialog {
  width: 450px;
  margin: 100px auto;
}
.modal-header h4 {
  margin-left: 0.5em;
}
.ui-match {
  background: yellow;
}
.form-control.input-keyword {
  width: 320px;
}
